.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */
.App {
  position: relative; /* Ensure the App takes full height */
  min-height: 100vh; /* Make sure it covers the full viewport height */
}

.background {
  position: absolute; /* Position the background behind the content */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Send it to the back */
  background: rgba(255, 182, 193, 0.3); /* Light pink color */
  animation: pulse 5s infinite; /* Apply animation */
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 0.5;
  }
}
